{{ define "main" }}
    <h1>Hi, it's Khoi!</h1>
    <p>A minimalist engineer who's into Swift and Go.</p>
    <ul style="list-style-type: none;">
        <li>
            <i data-feather="github"></i>
            <a href="https://github.com/khoi">GitHub</a>
        </li>
        <li>
            <i data-feather="twitter"></i>
            <a href="https://twitter.com/khoiracle">Twitter</a>
        </li>
        <li>
            <i data-feather="send"></i>
            <a href="https://t.me/khoiracle">Telegram</a>
        </li>
        <li>
            <i data-feather="rss"></i>
            <a href="/index.xml">RSS</a>
        </li>
    </ul>
    <h2>Posts</h2>
    <ul>
    {{ range (where .Pages "Section" "post")}}
    <li>
        <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
    </li>
    {{ end }}
    </ul>
    <h2>Projects</h2>
    <ul>
      <li><a href="https://github.com/khoi/compass">compass</a> - a z insipred shell ultility written in Go.</li>
      <li><a href="https://github.com/zalora/swift-statsd-client">swift-statsd-client</a> - StatsD client written in Swift.</li>
    </ul>
{{ end }}
