{{ define "main" }}
    <h1>Hi, it's Khoi!</h1>
    <p>I currently live in HCM City, Vietnam. I write software, and enjoy ranting about programing languages over ☕️. You can find me on:</p>
    <ul style="list-style-type: none;">
        <li>
            <i data-feather="github"></i>
            <a href="https://github.com/khoi">GitHub</a>
        </li>
        <li>
            <i data-feather="twitter"></i>
            <a href="https://twitter.com/khoiracle">Twitter</a>
        </li>
        <li>
            <i data-feather="send"></i>
            <a href="https://t.me/khoiracle">Telegram</a>
        </li>
        <li>
            <i data-feather="rss"></i>
            <a href="/index.xml">RSS</a>
        </li>
    </ul>
    {{ range .Site.Sections }}
        <h2>{{ .Name }} </h2>
        <ul>
            {{ range where (site.RegularPages) "Section" "==" .Section }}
            <li>
                <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
            </li>
            {{ end }}
        </ul>
    {{ end }}
    <h2>Projects</h2>
    <ul>
      <li>🌈<a href="https://imgur.com/a/VQxl1ol">Sorting Algorithms Visualization</a></li>
      <li>🧭<a href="https://github.com/khoi/compass">compass</a> - a z insipred shell ultility written in Go.</li>
    </ul>
{{ end }}
