body {
    font-size: 85%;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 1.7;
    text-align: justify;
    background-color: #fafafa;
    color: #222;
}

.main {
    max-width: 700px;
    margin: 0px auto 50px;
}

.nav-bar {
    max-width: 700px;
    margin: 50px auto 0px;
}

.nav-bar-link {
    font-size: 20px;
}

h1,h2,h3,h4,h5,h6 {
    text-align: left
}

.header-date {
    text-align: right
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto
}

code,pre {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

code {
    background: #F0F0F0;
}

pre {
    padding: 1.2em
}

a:link {
    color: #222;
    text-decoration: underline
}

a:visited {
    color: #222
}

a:hover {
    color: #fafafa;
    background-color: #222;
    text-decoration: none
}

hr {
    margin: 25px auto 25px
}